<a href="https://colab.research.google.com/github/gokanb/python_basic/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Functions

## Defining a funtion.

In [1]:

def my_function():
  print('Hello there')

In [2]:
my_function()

Hello there

In [8]:
def my_function2(): 
  '''
Created by  : Gokan Bektas
Input       : None
Outut       : It prints 'Hello'
  '''
  print('Hello')

In [7]:
my_function2()

Hello

In [16]:
def greeting(name):
  print(f'Hi there {name} ')

In [17]:
greeting('Gokan')

Hi there Gokan

In [18]:
def greeting(name='Bektas'):
  print(f'Hi there {name} ')

In [20]:
greeting('Tim')

Hi there Tim

In [21]:
def greeting(name='Bektas'):
  return f'Hi there {name} '

In [22]:
greeting()

'Hi there Bektas '

In [30]:
def add( a, b, c, ):
  return a + b + c

In [31]:
add(3,4,5)

12

In [ ]:
# create a funtion for :
'''
subtraction
multiplication
division
exponent
'''

In [41]:
def my_sub(x = 1, y = 2, z = 3):
  '''
Created by  : Gokan Bektas
Input       : This function takes three number parameters.
Output       : This function returns the subtraction of three given number parameter.
  '''
  int(input('Enter a number for x'))
  int(input('Enter a number for y'))
  int(input('Enter a number for z'))
  return f'The sub of x, y, and z, is: {x - y - z}'
my_sub()

Enter a number for x15
Enter a number for y5
Enter a number for z2

'The sub of x, y, and z, is: -4'

In [50]:
def my_mult(x = 1, y = 2, z = 3):
  '''
  Created by  : Gokan Bektas
  Input       : This function takes three number parameters.
  Output       : This function returns the multipolication of three given number parameter.
  '''
  return x * y * z
my_mult(10, 5 , 5)

250

In [57]:
def my_div(x = 1, y = 2):
  '''
  Created by  : Gokan Bektas
  Input       : This function takes two number parameters.
  Output       : This function returns the division of two given number parameter.
  '''
  return x / y

In [58]:
my_div(100, 5 )

20.0

In [59]:
def my_exp(x = 1, y = 2):
  '''
  Created by  : Gokan Bektas
  Input       : This function takes two number parameters.
  Output       : This function returns the exponent of two given number parameter.
  '''
  return x ** y

In [61]:
my_exp(5, 2)

25

In [63]:
type(add)

function

In [66]:
def even_number(list):
  
  '''
  Created by  : Gokan Bektas
  Input       : This function takes a list of digits.
  Output      : This function returns a list of even numbers. 

  '''
  
  num = [ ]
  for x in list:
    if x % 2 == 0:
      num.append(x)
  return(num)

In [68]:
even_number([34, 5, 7, 32, 45, 66, 22, 36, 1923])

[34, 32, 66, 22, 36]

In [ ]:
# Write a function to retun odd numbers
# write a runction to return nubers divisible by 3.

In [96]:
def odd_number(lst):
  
  '''
  Created by  : Gokan Bektas
  Input       : This function takes a list of digits.
  Output      : This function returns a list of odd numbers. 

  '''
  
  num = [ ]
  for x in lst:
    if x % 2 != 0:
      num.append(x)
  return(num)

In [97]:
odd_number([34, 5, 7, 32, 45, 66, 22, 36, 1923])

[5, 7, 45, 1923]

In [98]:
def div_three(lst):
  
  '''
  Created by  : Gokan Bektas
  Input       : This function takes a list of digits.
  Output      : This function returns a list of division 3 numbers. 

  '''
  
  num = [ ]
    # creating empty list. 
  for x in lst:
    # itirate list.
    if x % 3 == 0:
    # if numbers divisible and reminder is 0. 
      num.append(x)
    # appending numbers to the list which divisible to 3. 
  return(num) 
    # returning numbers which divisible 3.

In [99]:
div_three([11, 56, 54, 67, 87, 55, 100, 15])

[54, 87, 15]

## *args and *kwargs

###args

In [103]:
def new_fcnt(a, b, c):
  return a,b,c

In [107]:
new_fcnt("hi", "10", "hello")

('hi', '10', 'hello')

In [112]:
def new_fcnt2(*args):
  return args

In [113]:
new_fcnt2('hello', '19')

('hello', '19')

In [114]:
def pr(a, b):
  return sum((a, b)) * 0.4

In [115]:
pr(30,70)

40.0

In [116]:
def pr2(*args):
  return sum((args)) * 0.4

In [118]:
pr2(30, 70, 89, 4)

77.2

In [ ]:
# Give me paragraph that explaining function. 

'''

Function is general speaking the special purpose of activity. 
In programming a set of instructions bundled together to achieve a specific outcome.
In pyhton a function is a block of code that only runs when it is called. 
Python functions return a value using a return statement, if one is specified. Python has two types of function user-defined and built in. 

'''

In [ ]:
def new_fcnt3(*)

### kwargs

In [121]:
def new_fcnt4(**kwargs):
  print(kwargs)
  if 'flower' in kwargs:
    print("We have {} for you! ".format(kwargs['flower']))
  else:
    print("We dont have flowers for you! ")

In [122]:
new_fcnt4( color = "Orange", flower = 'Rose')

{'color': 'Orange', 'flower': 'Rose'}
We have Rose for you!

In [123]:
def new_fcnt5(*args, **kwargs):
  print(args)
  print(kwargs)
  print('I would like to have {} {}! ' .format(args[0], kwargs['fruit']))

In [125]:
new_fcnt5(1,2,3, color = 'Green', fruit = 'Apple')

(1, 2, 3)
{'color': 'Green', 'fruit': 'Apple'}
I would like to have 1 Apple!