<a href="https://colab.research.google.com/github/gokanb/python_basic/blob/main/Rapid_Fire.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
'''
# What do i want ?
- 1. State the probelem.

# What do i need ?
- 2. Design your problem solution(algotrithm)

# What do i have ? 
- 3. This is data provided by either the problem or assumed data.
'''

##Return the count of a given substring from a substring

In [ ]:
# What do i want? 
#i want to get any string and then get a subset of it and then count the length.
#------------------



#------------------


# What do i need: 
#i need a string on any from! and i would take the length of it using the len() function

len(strg2)
len(strg3)
len(strg0)



#------------------
# What do i have?
# I can just make a string myself or ask the user for something. 

strg0 = input("Tell me something: ")
strg01 = strg0[-1:4]
strg = "any string"
strg2 = "any"
strg3= srtg[1:5]

3

In [ ]:
strg0 = input("Tell me something: ")
strg01 = strg0[-1: ]
print(f'The user entered: {strg0} and the length of a substring is {len(strg0)}')

Tell me something: Gokan bektas
The user entered: Gokan bektas and the length of a substring is 12

## Display numbers divisible by 5 from a list

In [ ]:
# What do i want?
# we want to numbers divisible by 5.
#-----------------


# What do i need?
# i need list of numbers.
#-----------------


# What do i have?
# I have a list.

In [ ]:
num = [11, 56, 54, 67, 87, 55, 100, 15]
print(f'Given my list: {num}')
print('Numbers divisible by 5 from the list are: ')
for i in num:
  if i % 5 == 0:
    print(i)

Given my list: [11, 56, 54, 67, 87, 55, 100, 15]
Numbers divisible by 5 from the list are:
55
100
15

## Check if the first and last number of a list is the same

In [ ]:
# What do i want?
# check the list first and last number same
#-----------------


# What do i need?
# make a list of number 
#-----------------


# What do i have?
#

In [ ]:
num = [ 2,4,5,6,7,8,2]

# num = [ ]
# numb = int(input("Enter a number"))
# numbbc = num.append(numb)

first = num[0]
last = num[-1]

if first == last:
  print('True') 
else:
  print('False')

True

In [ ]:
numbers = [10,20,30,45,50,10]
print(f'Given my list: {numbers} ')
print('Numbers are same: ')
if numbers[0] == numbers[-1]:
  print('i')

[10, 20, 30]

## Print multiplication form 1 to 10

In [ ]:
# What do i want?
# form for multiplication 1 to 10
#-----------------


# What do i need?
# for loop method
#-----------------


# What do i have?
#

In [ ]:
for i in range(1,11):
  for j in range(1,11):
    print(i * j, end=" ")
  print("\t\t")

1 2 3 4 5 6 7 8 9 10
2 4 6 8 10 12 14 16 18 20
3 6 9 12 15 18 21 24 27 30
4 8 12 16 20 24 28 32 36 40
5 10 15 20 25 30 35 40 45 50
6 12 18 24 30 36 42 48 54 60
7 14 21 28 35 42 49 56 63 70
8 16 24 32 40 48 56 64 72 80
9 18 27 36 45 54 63 72 81 90
10 20 30 40 50 60 70 80 90 100

In [ ]:
for i in range(1,11):
    print("\n\nMULTIPLICATION TABLE FOR %d\n" %(i))
    for j in range(1,11):
        print("%-5d X %5d = %5d" % (i, j, i*j))

MULTIPLICATION TABLE FOR 1

1     X     1 =     1
1     X     2 =     2
1     X     3 =     3
1     X     4 =     4
1     X     5 =     5
1     X     6 =     6
1     X     7 =     7
1     X     8 =     8
1     X     9 =     9
1     X    10 =    10


MULTIPLICATION TABLE FOR 2

2     X     1 =     2
2     X     2 =     4
2     X     3 =     6
2     X     4 =     8
2     X     5 =    10
2     X     6 =    12
2     X     7 =    14
2     X     8 =    16
2     X     9 =    18
2     X    10 =    20


MULTIPLICATION TABLE FOR 3

3     X     1 =     3
3     X     2 =     6
3     X     3 =     9
3     X     4 =    12
3     X     5 =    15
3     X     6 =    18
3     X     7 =    21
3     X     8 =    24
3     X     9 =    27
3     X    10 =    30


MULTIPLICATION TABLE FOR 4

4     X     1 =     4
4     X     2 =     8
4     X     3 =    12
4     X     4 =    16
4     X     5 =    20
4     X     6 =    24
4     X     7 =    28
4     X     8 =    32
4     X     9 =    36
4     X    10 =    40


MULTIPLICATION TABLE FOR 5

5     X     1 =     5
5     X     2 =    10
5     X     3 =    15
5     X     4 =    20
5     X     5 =    25
5     X     6 =    30
5     X     7 =    35
5     X     8 =    40
5     X     9 =    45
5     X    10 =    50


MULTIPLICATION TABLE FOR 6

6     X     1 =     6
6     X     2 =    12
6     X     3 =    18
6     X     4 =    24
6     X     5 =    30
6     X     6 =    36
6     X     7 =    42
6     X     8 =    48
6     X     9 =    54
6     X    10 =    60


MULTIPLICATION TABLE FOR 7

7     X     1 =     7
7     X     2 =    14
7     X     3 =    21
7     X     4 =    28
7     X     5 =    35
7     X     6 =    42
7     X     7 =    49
7     X     8 =    56
7     X     9 =    63
7     X    10 =    70


MULTIPLICATION TABLE FOR 8

8     X     1 =     8
8     X     2 =    16
8     X     3 =    24
8     X     4 =    32
8     X     5 =    40
8     X     6 =    48
8     X     7 =    56
8     X     8 =    64
8     X     9 =    72
8     X    10 =    80


MULTIPLICATION TABLE FOR 9

9     X     1 =     9
9     X     2 =    18
9     X     3 =    27
9     X     4 =    36
9     X     5 =    45
9     X     6 =    54
9     X     7 =    63
9     X     8 =    72
9     X     9 =    81
9     X    10 =    90


MULTIPLICATION TABLE FOR 10

10    X     1 =    10
10    X     2 =    20
10    X     3 =    30
10    X     4 =    40
10    X     5 =    50
10    X     6 =    60
10    X     7 =    70
10    X     8 =    80
10    X     9 =    90
10    X    10 =   100

## Display the current and time

In [ ]:
import datetime
#importing datetime
now = datetime.datetime.now()
# creating variable equal to date
print("Current date and time : ")
print(now.strftime("%Y-%m-%d %H:%M:%S"))

Current date and time :
2021-11-12 17:21:45

## Print first and last name in reverse order with a space a between them

In [ ]:
name = (input(" ") [ ::-1 ] )
print(name)
# creating string and using slicing : : first and second place starting from the end -1

 GOKAN BEKTAS
SATKEB NAKOG

In [ ]:
fname = input(" : ")
lname = input(" : ")
print("Hello " + lname + ' ' + fname)

 : gokan
 : bektas
Hello bektas gokan

## Display the first and last colors from a given list

In [ ]:
color_list = ["red", "green", " white", "black", "orange", "blue"]
print(color_list[0], color_list[-1])

red blue

## Input an integer(h) and computes the value of n+nn+nn

In [ ]:
n = int(input("Enter a number: "))
print(n + n **2 + n **3)

##Write a Pyhton script to print the calendar of a given month and year

In [ ]:
import calendar
y = int(input(" Please enter a year : "))
m = int(input(" Please enter a month : "))
d = int(input(" Please enter a day " ))
print(calendar.month(y, m, d))


#https://www.w3resource.com/python-exercises/python-basic-exercise-12.php

 Please enter a year : 2017
 Please enter a month : 8
 Please enter a day 13
                                           August 2017
    Monday       Tuesday      Wednesday      Thursday       Friday       Saturday       Sunday
                     1             2             3             4             5             6
       7             8             9            10            11            12            13
      14            15            16            17            18            19            20
      21            22            23            24            25            26            27
      28            29            30            31

In [ ]:
import calendar
y = int(input(" Please enter a year : "))
m = int(input(" Please enter a month : "))
print(calendar.month(y, m,  ))
#https://www.w3resource.com/python-exercises/python-basic-exercise-12.php

 Please enter a year : 2017
 Please enter a month : 8
    August 2017
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28 29 30 31

## Python script to get the volume of a sphere with radius 6

### Entend the script to calculate the volume of any sphere!!

In [91]:
pi = 3.1415926535897931
r= 6.0
V= 4.0/3.0*pi* r**3
print('The volume of the sphere is: ',V)

The volume of the sphere is:  904.7786842338603

## Write a Python script to find whether a given number (accept from the user) is even or odd

In [92]:
num = int(input("Enter a number: "))
mod = num % 2
if mod > 0:
    print("This is an odd number.")
else:
    print("This is an even number.")
#https://www.w3resource.com/python-exercises/python-basic-exercise-21.php

Enter a number: 1
This is an odd number.

## Write  Python program to count the number 7 in a given list

In [93]:
mylist2 = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

x = mylist2.count(7)

print(x)

2

In [97]:
def list_count_7(nums):
  count = 0 
  for num in nums:
    if num == 5:
      count = count + 1
  return count

print(list_count_7 ( [1, 3, 7, 8, 7, 5, 4, 6, 8, 5]))

2

## A script that will accept the base and height of a triangle and compute the area

In [98]:
b = int(input("Input the base : "))
h = int(input("Input the height : "))

area = b*h/2

print("area = ", area)

Input the base : 20
Input the height : 10
area =  100.0

## A script to sum of three given integers however, if two values are equal sum will be zero

In [99]:
def sum(x, y, z):
    if x == y or y == z or x==z:
        sum = 0
    else:
        sum = x + y + z
    return sum

print(sum(2, 1, 2))
print(sum(3, 2, 2))
print(sum(2, 2, 2))
print(sum(1, 2, 3))



#https://www.w3resource.com/python-exercises/python-basic-exercise-33.php

0
0
0
6

## A script to solve (x +y) * (x +y)

In [105]:
x, y = 4, 3
result = x * x + 2 * x * y + y * y
print("({} + {}) ^ 2) = {}".format(x, y, result))

(4 + 3) ^ 2) = 49

## A script to convert the distance (in feet) to inches, yards,and miles

In [106]:
d_ft = int(input("Input distance in feet: "))
d_inches = d_ft * 12
d_yards = d_ft / 3.0
d_miles = d_ft / 5280.0

print("The distance in inches is %i inches." % d_inches)
print("The distance in yards is %.2f yards." % d_yards)
print("The distance in miles is %.2f miles." % d_miles)

Input distance in feet: 1500
The distance in inches is 18000 inches.
The distance in yards is 500.00 yards.
The distance in miles is 0.28 miles.

## A Script to calculate the hypotenuse of a right angled triangle

In [108]:
from math import sqrt
print("Input lengths of shorter triangle sides:")
a = float(input("a: "))
b = float(input("b: "))
c = sqrt(a**2 + b**2)
print("The length of the hypotenuse is:", c )

#https://www.w3resource.com/python-exercises/python-basic-exercise-60.php

Input lengths of shorter triangle sides:
a: 3
b: 4
The length of the hypotenuse is: 5.0